{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Batman</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi illo recusandae sed dolore, et repudiandae quam aspernatur animi! Aliquid alias id numquam. Asperiores reiciendis suscipit non ipsa deserunt quisquam perferendis!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/batman.png" alt="batman" class="img-thumbnail">
    </div>
</div>

{{> footer }}